<style>

</style>

<!-- Wea -->
<div>
    <ul class="pages">
        <li class="chat page" *ngIf="chatPage">
            <div class="chatArea">
                <ul class="messages"></ul>
            </div>
            <input class="inputMessage" placeholder="Type here..." (keyup.enter)="sendMessage($event)"/>
        </li>
        <li class="login page" *ngIf="!chatPage">
            <div class="form">
                <h3 class="title">What's your nickname?</h3>
                <input class="usernameInput" type="text" maxlength="14" (keyup.enter)="setUsername($event)"/>
            </div>
        </li>
    </ul>
</div>